* {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

.container {
  margin: 0 auto !important;
}
