* {
  margin: 0 !important;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

/* body {
  background-color: rgb(40, 111, 170) !important;
} */

.container {
  margin: 0 auto !important;
}
