.Menu_wrap {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.Menu_Box {
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Menu_Box > div {
  width: calc(100% / 3) !important;
  float: left;
  height: 100vh;
}

/* .MenuBox > .container {
  padding: 100px 0 !important;
} */

@media screen and (max-width: 1440px) {
}
