.Menu_wrap {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.Menu_Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

@media screen and (max-width: 1440px) {
  .Change_Menu {
    width: 50%;
    height: 100vh;
    background-color: rebeccapurple;
    /* overflow: hidden; */
  }

  .Change_Menu > ul {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .Change_Menu > ul > li {
    width: 100%;
    height: 33.333%;
    font-size: 70px;
    position: absolute;
    text-align: left;
    line-height: 262px;
    color: rgba(225, 225, 225, 0.8);
  }

  .Change_Menu > ul > li:nth-of-type(1) {
    top: 0;
  }

  .Change_Menu > ul > li:nth-of-type(2) {
    top: 33.333%;
  }

  .Change_Menu > ul > li:nth-of-type(3) {
    top: 66.666%;
  }

  .Change_Menu > ul > li:nth-of-type(4) {
    top: 99.999%;
  }

  .Change_Item {
    width: 50%;
    height: 100vh;
    background-color: red;
  }
}
