.Menu_wrap {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.Menu_Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.Menu {
  width: calc(100% / 3) !important;
  height: 100vh;
  transition: 0.5s;
}

.Menu:nth-of-type(1) {
  background-color: blue;
}

.Menu:nth-of-type(2) {
  background-color: red;
}

.Menu:nth-of-type(3) {
  background-color: green;
}

.Menu:nth-of-type(1):hover {
  width: calc(100% / 3 + 30%) !important;
  height: 100vh;
}

/* ë */

.Menu:nth-of-type(2):hover {
  width: calc(100% / 3 + 30%) !important;
  height: 100vh;
}

/* End */

.Menu:nth-of-type(3):hover {
  width: calc(100% / 3 + 30%) !important;
  height: 100vh;
}

/* .MenuBox > .container {
  padding: 100px 0 !important;
} */

@media screen and (max-width: 1440px) {
}
